@font-face {
	font-family: "RobotoRegular";
	src: url("../font/RobotoRegular/RobotoRegular.eot");
	src: url("../font/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../font/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../font/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoLight";
	src: url("../font/RobotoLight/RobotoLight.eot");
	src: url("../font/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../font/RobotoLight/RobotoLight.woff") format("woff"),
	url("../font/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoMedium";
	src: url("../font/RobotoMedium/RobotoMedium.eot");
	src: url("../font/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../font/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../font/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoBold";
	src: url("../font/RobotoBold/RobotoBold.eot");
	src: url("../font/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../font/RobotoBold/RobotoBold.woff") format("woff"),
	url("../font/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoThin";
	src: url("../font/roboto.thin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoBlack";
	src: url("../font/Roboto-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}